#emoji-body {
    background-image: url("/bkgrnd.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
  
    /* padding: 20px 30px; */
    height: 100vh;
    width: 100%;
  }